.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.portada__img {
    background-image: url(../images/fotos/img-header.jpg);
    background-size: cover;
    height: 80vh;

}

.home__textoPrincipal {

    padding-top: 3%;
    
    h1 {
        font-size: 1.5rem;
    }
}

#index__productosDestacados {

    .row {

        --bs-gutter-x: 0rem;

    }
}
.formulario__newsletter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
    text-align: right;
  }
  
  label {
    font-weight: bolder;
  }
