.botones {
    padding: 9px 20px;
    background-color: rgb(8, 168, 160);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(240, 240, 240);


}

.botones:hover{
    background: rgb(5, 118, 126);
}