



/* ==========================================

MEDIA QUERY 576px

============================================== */


@media screen and (max-width: 576px) {

    //---navbar---//

    .navbar-brand {
        width: 70%;
    }

}


