

// RESET //

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'PT Sans', sans-serif;
    color:#3F3E3B;
    background-color: white;
      
  a {
    text-decoration: none;
 }
 
}

ul {
  list-style-type: none;
}